<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="FirstPath" value="C:\"/>
		<add key ="LastUserPath" value="C:\"/>
		<add key="CountRowToView" value="10"/>
		<add key="JournalPath" value=""/>
		<add key="rowsToTopMargin" value="1"/>
		<add key="CountRowOnPage" value="30"/>
	</appSettings>
</configuration>