<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="FirstPath" value="C:\"/>
		<add key ="LastUserPath" value="E:\GeekBrains\Base C#\Algorimts\AlgoritmsLesson6"/>
		<add key="CountRowToView" value="10"/>
		<add key="JournalPath" value=""/>
	</appSettings>
</configuration>